{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="title">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEzSURBVGhD7dk9SgRREEXhRg0MRNegmbGBizB2BaaigqaCexADFyCCezCZJYiJYGJooAgm/qLnBgONlGA/+ln1oC58SQevOfSMDjNdrsEt4BDXeMGXozMUbRW3sA71UBSyiEgRUhRyBOswT0UhN7AO8zQ4ZA6fsA7zNDhkCdZB3qqEPOOxgjdY95PRQ+4xgxrbhHVPGT3kDrW2AeuekiG/yZA/7F9DnqDPYSsVHMC6p4we4iVDosmQaDIkmgyJJkOiyZBoMiSaDIkmQ6LJkGgypO8BE1w42sGg9UP07fgu9JtJc+uH7OtCq5uGfGBeF1qdXkaKeMWsLrS8K+ip6IeXprcNheiv1ZoutDq9vC4xfa+cYw96Ql7WUTS90U/wDgV5G/wP8eeWoadxjFNHW8g1sK77BvnkKRGO8YZSAAAAAElFTkSuQmCC">
                <h1 style="display: inline-block"> &nbsp; Student Info Viewer</h1>

            </div>

            <div id="status">

            </div>

            <div id="info_viewer">
               <h1> Data Enter SuccessFully</h1>
                <br>
                <h3>Student ID  = {{id}}</h3>

                <a href="/"> <h4>GoTo Home</h4></a>
            </div>

        </div>
    </div>
{% endblock %}
